/*RESET*/

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #141922;
}

/*standards*/

.flex{
    display: flex;
}

.fl-column{
    flex-direction: column;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

/*utilities*/

.bg-black{
    background-color: black;
}

.bg-main-gray{
    background-color: #141922;
}

.bg-main-darkgray{
    background-color: #080b12;
}

.bg-footer-gray{
    background-color: #282828;
}

/*--------------------------

PAGE INSTRUCTIONS

--------------------------*/

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 200px;
    height: calc(100vh - 80px);
    color: #808080;
    font-size: .8rem;
    line-height: 2.2rem;
    min-height: 590px;
}

header .mobile{
    display: none;
}

header img:first-child{
    width: 70%;
    padding: 20px 0 10px 20px;
}

header img:nth-child(2){
    display: none;
}

header hr{
    width: calc(100% - 40px);
    margin-left: 20px;
    border: none;
    height: 1px;
    background-color: #808080;
}

header h2,
header li,
header span{
    padding-left: 20px;
    padding-right: 20px;
}

header nav .dashboard i{
    font-size: 1.2rem;
}

header nav .dashboard ul li:first-child{
    color: #d2d2d2;
    border-left: 2px solid #adff2f;
}

header h2{
    color: white;
    text-transform: uppercase;
    font-size: .8rem;
}

header nav .playlist button{
    background-color: black;
    border: none;
    color: inherit;
}

header nav .playlist i{
    font-size: 2.2rem;
    vertical-align: middle;
}

header .account{
    bottom: 20px;
    left: 0;
}

header .account h2 i{
    display: inline-block;
    padding: 4px;
    background-color:#808080;
    border-radius: 50%;
}

main{
    width: calc(100vw - 200px);
    margin-left: 200px;
    height: calc(100% - 140px);
    margin-bottom: 80px;
}

.upgrade-bar{
    position: fixed;
    top: 0;
    right: 0;
    height: 60px;
    width: calc(100vw - 200px);
    text-align: end;
}

.upgrade-bar button{
    color: white;
    text-transform: uppercase;
    background-color: #080b12;
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 18px;
    margin: 16px 16px 0 0;
}

main h2{
    color: white;
    padding: 20px 30px 0;
}

main section>span{
    margin-left: 30px;
}

main span{
    color: #808080;
    font-size: .6rem;
    font-weight: bold;
}

main .content{
    width: calc(100vw - 200px);
    margin-top: 60px;
}

main .content nav ul{
    width: 55%;
    margin: 0 auto;
    padding: 1rem 0;
    justify-content: space-between;
    font-size: .7rem;
    color: #808080;
    text-transform: uppercase;
    font-weight: bold;
    min-width: 440px;
}

main .albums{
    justify-content: space-between;
    padding: 30px;
    max-width: 1750px;
}

main .album{
    width: 15%;
    text-align: center;
    max-width: 240px;
}

main .album img{
    width: 100%;
}

main .album h3{
    color: white;
    font-size: .8rem;
}

main .selected-for-user .albums,
main .popular-artists .albums{
    justify-content: flex-start;
}

main .selected-for-user .album,
main .popular-artists .album{
    margin-right: 2%;
}

main .popular-artists img{
    border-radius: 50%;
}


footer{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 80px;
    padding: 20px 10px;
    color: #808080;
    justify-content: space-between;
}

footer .current-song{
    width: 185px;
    justify-content: space-between;
}

footer h3{
    color: white;
}

.wrapper{
    width: 105px;
}

footer .current-song .text{
    padding: .3rem;
    font-size: .6rem;
}

footer .current-song ul{
    align-items: center;
}

footer .current-song ul li{
    padding: 0 3px;
    height: 50%;
}

footer .music-banner{
    width: 40%;
    margin: 0 20px;
}

footer .interface{
    width: 200px;
    justify-content: space-between;
    color: white;
    margin: 0 auto 10px;
}

footer .song-status{
    justify-content: space-between;
    align-items: center;
}

footer .song-status h3{
    font-size: .6rem;
}

footer .status-banner{
    width: 85%;
    height: 4px;
    margin: 0 5px;
}

footer .status-banner .done{
    width: 18%;
    background-color: #c1c1c1;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

footer .status-banner .undone{
    width: 82%;
    background-color: #5a5a5a;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

}

footer .audio-output{
    width: 180px;
    margin-right: 20px;
    align-items: center;
    justify-content: space-between;
    min-width: 130px;
}

footer .audio-output .status-banner{
    width: 45%;
}



/*---------------------------------

QUERY INDICATIONS desktop to mobile

---------------------------------*/

@media screen and (max-width: 576px) {

    header{
        width: 40px;
    }

    header img:first-child{
        display: none;
    }

    header img:nth-child(2){
        display: block;
        width: 70%;
        margin: 10px auto 25px;
    }

    header nav .dashboard ul:first-child,
    header nav .playlist ul,
    header span,
    header h2,
    header hr{
        display: none;
    }

    header .mobile{
        display: block;
    }

    header li{
        padding-left: 10px;
    }

    header nav .dashboard ul li:first-child{
        color: #d2d2d2;
        border-left: none;
    }

    header .account{
        font-size: 1.2rem;
    }

    main{
        width: calc(100vw - 40px);
        margin-left: 40px;
    }

    .upgrade-bar{
        width: calc(100vw - 40px);
    }

    main .content{
        width: calc(100vw - 40px);
        margin-top: 60px;
    }

    main .content nav:first-child ul{
        width: 90%;
        flex-wrap: wrap;
        min-width: 200px;
        justify-content: space-evenly;
    }

    main .content nav li{
        width: 21%;
        margin-bottom: 16px;
        min-width: 90px;
    }
}