/*RESET*/

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*standards*/

.flex{
    display: flex;
}

/*utilities*/

.bg-black{
    background-color: black;
}

.bg-main-gray{
    background-color: #141922;
}

.bg-main-darkgray{
    background-color: #080b12;
}

.bg-footer-gray{
    background-color: #282828;
}

/*--------------------------

PAGE INSTRUCTIONS

--------------------------*/

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: calc(100vh - 80px);
}

main{
    width: calc(100vw - 200px);
    margin-left: 200px;
    height: calc(100vh - 140px);
}

.upgrade-bar{
    position: fixed;
    top: 0;
    right: 0;
    height: 60px;
    width: calc(100vw - 200px);
    text-align: end;
}

.upgrade-bar button{
    color: white;
    text-transform: uppercase;
    background-color: #080b12;
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 18px;
    margin: 16px 16px 0 0;
}

main .content{
    width: calc(100vw - 200px);
    height: 20px;
    margin-top: 60px;
}

footer{
    position: fixed;
    width: 100vw;
    height: 80px;
}